1.)
*  Counter.count refers to the count attribute in class count. Self.
count refers to the particular instance of the class count that is referred to.
*  a.get_counts returns Instance count: 2, Class count: 3 and b.get_counts returns Instance count: 1, Class count: 3
* The increment method affects the Counter class by increasing the default value for the attribute counter in class. Whenever that attribute is changed in the class, it will continue to store as that value and whenever a new class is made or the attribute in the class is called it will be a new value equal to the amount of times increment has been run. It affects the instance by keeping track of how many times increment has been called per instance of the class Counter.

In [2]:
def sum_all(args):
  return sum(args)

print("Sum of 1, 2, 3 is: ", sum_all((1, 2, 3)))
print("Sum of 4, 5, 6, 7 is: ", sum_all((4, 5, 6, 7)))

#iterables need to be in parentheses

Sum of 1, 2, 3 is:  6
Sum of 4, 5, 6, 7 is:  22

In [4]:
students = ['Mary','Zelda','Jimmy','Jack','Bartholomew','Gertrude']

def first_word(students):
  students.sort()
  return students[0]

first_word(students)

'Bartholomew'

In [25]:
class Employee:
  Employee_counter = 0

  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.Employee_counter += 1


class FulltimeEmployees(Employee):
  pass

e1 = FulltimeEmployees('Ashley', 3, 25000, 'Human Development')

e2 = Employee('Tyler', 6, 50000, 'Finance')

def averageSalary(employees):
  totalSalary = 0
  for i in range(2):
    totalSalary += employees[i].salary

  return totalSalary/Employee.Employee_counter

employees = [e1, e2]
averageSalary(employees)

37500.0